.wrapper {
  width: 90%;
  margin: 0 auto;
}
.priority {
  width: 100px;
  height: 10px;
  border-radius: 5px;
}
.low {
  background-color: #00cbea;
}
.normal {
  background-color: #ffc100;
}
.high {
  background-color: #ff77d2;
}
@media only screen and (max-width: 200px) {
  .priority {
    width: 90%;
    margin: 0 auto;
  }
}
