.wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 36px;
}
.text {
  font-size: large;
  color: #283e5e;
}
.icon {
  width: 20px;
  height: 20px;
}
.icon:hover {
  cursor: pointer;
}
