* {
  padding: 0;
  margin: 0;
}
.App {
  background: rgb(127, 42, 240);
  background: linear-gradient(
    86deg,
    rgba(127, 42, 240, 0.9559174011401436) 38%,
    rgba(232, 156, 167, 0.9531162806919643) 89%
  );
  height: 100vh;
  position: relative;
}
.modalOpen {
  opacity: 0.4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
